<!-- Sintaxis especial de django que permite utlizar el layout de layout.html en este fragmento -->
{% extends 'layout.html' %}

{% block content %}
<h1 class="text-2xl font-semibold">About</h1>
<p class="mt-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur sint sit accusantium
    fuga
    voluptates vero unde
    voluptatibus beatae sed, modi ullam recusandae ab repellat rerum aspernatur ratione molestias a iusto corporis
    laborum tempora. Quisquam, molestiae veniam quidem numquam temporibus nihil repellendus enim officia omnis assumenda
    non corporis. Numquam distinctio corporis adipisci quod? Inventore illo doloribus iure magni in quo, recusandae
    distinctio molestias consectetur tempore accusamus corporis ut sit culpa libero quasi blanditiis dolore cumque!
    Laborum, nam magnam ut ullam at rem minima, libero enim odit repellendus labore, sint optio. Perferendis rem
    quibusdam recusandae id temporibus sunt. Cupiditate debitis nobis porro rerum ut non ipsa eum, dolor libero
    dignissimos rem? Ipsa, tempora accusantium accusamus dicta voluptatem corrupti tempore vel, laudantium nostrum
    dolorum fuga reiciendis illum aliquid nihil quis corporis officia minus non? Illum voluptas, inventore cumque iusto
    quam ipsa quisquam saepe voluptates iure perferendis aut at. Repudiandae neque culpa laboriosam sequi, excepturi
    fugiat consequuntur perferendis deleniti labore amet tempore iure eos cupiditate aspernatur iste dicta reprehenderit
    officiis ipsum quasi ea eligendi voluptatem? Odio commodi ratione, unde optio quis, incidunt fugit nulla, et
    consequatur necessitatibus ut amet id nisi porro deleniti. Sed corrupti, tenetur, deleniti labore sunt nesciunt
    voluptates dolores cum at autem similique culpa neque voluptatibus veritatis et exercitationem tempora alias sint
    harum cumque dolorem repellendus porro a eligendi. Iste, adipisci. Optio quaerat ipsa eaque reiciendis provident
    quae assumenda. Aliquam, repellat optio obcaecati ex incidunt aspernatur sed libero, esse reprehenderit sapiente ut
    perspiciatis harum quasi nemo ipsam deleniti beatae quo vitae placeat soluta mollitia nihil enim. Harum porro
    placeat eaque cum qui nihil maiores! Nemo accusamus eos totam perspiciatis. Ea exercitationem ipsa, iure delectus
    vel deserunt eveniet. Eligendi cupiditate in libero vitae maxime molestiae minus rerum numquam itaque dignissimos at
    qui non voluptate possimus necessitatibus, ipsum fugit eveniet ex dicta saepe.
</p>

<p class="mt-2 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ea doloribus libero.
    Veniam delectus
    dignissimos
    voluptatum suscipit, explicabo repellat modi eos, veritatis natus labore amet temporibus quam doloribus a saepe,
    doloremque alias? Omnis placeat voluptatibus praesentium voluptatem obcaecati quis suscipit pariatur illum quos id,
    facere nam et asperiores ratione aperiam veritatis. Non corporis quis laboriosam quas. Incidunt consequuntur
    molestias molestiae repellat illum, eveniet minima ipsam quaerat sit exercitationem architecto blanditiis, quis
    voluptatem porro deserunt omnis cumque ab eius fugit tempora officia dolor! Quidem, voluptas nam sed aperiam
    reiciendis voluptatibus laboriosam veniam minima quam dolorum sit aliquid obcaecati blanditiis magni quae.
</p>
{% endblock %}