<!-- Sintaxis especial de django que permite utlizar el layout de layout.html en este fragmento -->
{% extends 'layout.html' %}

{% block content %}
<div class="py-8 px-24 flex flex-col items-center rounded bg-neutral-600">
    <h1 class="text-2xl font-semibold">Generated Password</h1>
    <h2 class="text-5xl font-bold mt-4">{{password}}</h2>
    <div class="mt-8 flex flex-col items-center">
        <h2 class="py-1 px-2 text-sm rounded bg-orange-500">Length: <span class="font-medium">{{length}}</span></h2>
        <h2 class="py-1 px-2 text-sm rounded mt-2 bg-green-600">Uppercase: <span
                class="font-medium">{{uppercase}}</span></h2>
        <h2 class="py-1 px-2 text-sm rounded mt-2 bg-indigo-600">Numbers: <span class="font-medium">{{numbers}}</span>
        </h2>
        <h2 class="py-1 px-2 text-sm rounded mt-2 bg-pink-600">Specials: <span class="font-medium">{{special}}</span>
        </h2>
    </div>
    <a href="" class="px-6 py-2 mt-6 block rounded font-semibold bg-blue-500">Reload</a>
</div>



{% endblock %}